@import "./fonts/Segoe/style.scss";
@import "./fonts/Gibson/style.scss";
@import "./bootstrap/index";

.top-0 {
    top: 0;
}
.left-0 {
    left: 0;
}
.right-0 {
    right: 0;
}
.bottom-0 {
    bottom: 0;
}
.captcha-container {
    transform: scale(0.57);
}

// FONT SIZE
.font-8px {
    font-size: 0.5rem;
}
.font-9px {
    font-size: 0.625rem;
    line-height: 12px;
}
.font-10px {
    font-size: 0.625rem;
}
.font-11px {
    font-size: 0.6875rem;
}
.font-12px {
    font-size: 0.75rem;
}
.font-13px {
    font-size: 0.8125rem;
}
.font-14px {
    font-size: 0.875rem;
}
.font-15px {
    font-size: 0.9375rem;
}
.font-17px {
    font-size: 1.0625rem;
}
.font-20px {
    font-size: 1.25rem;
}
.font-25px {
    font-size: 1.5625rem;
}
.font-40px {
    font-size: 40px;
}
//

// FONT FAMILIES
.seoge-ui-bold {
    font-family: 'Segoe UI Bold';
}
.gibson-bold {
    font-family: 'Gibson Bold';
}
.gibson-regular {
    font-family: 'Gibson Regular';
}
.gibson-semibold {
    font-family: 'Gibson SemiBold';
}
.gibson-light {
    font-family: 'Gibson Light';
}
//

.bg-primary-gradient {
    background: $primaryBackgroundGradient;
}

.bg-fotter-grey {
    background: $footerGrey;
}

.highlight-footer-option {
    border-top: 2px solid $footerHighlight;
}
.footer-navigation {
    width: 100%;
    z-index: 999;
}
// @media (min-width: 576px) {
//     .footer-navigation {
//         width: 50%;
//         max-width: 100%;
//         left: 50%;
//         transform: translateX(-50%);
//     }   
// }

//
.bg-gradient {
    background: transparent linear-gradient(180deg, #FFFFFF 0%, #F7F7FA 100%) 0% 0% no-repeat padding-box;
}
.back-icon {
    position: absolute;
    z-index: 9;
    top: 50px;
    left: 30px;
}
.cursor-pointer {
    cursor: pointer;
}

//
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: .5;
  }
  
  .modal-wrapper {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
  }
  
//   .modal {
//     z-index: 100;
//     background: white;
//     position: relative;
//     margin: auto;
//     border-radius: 6px;
//     padding: 2rem;
//     width: 300px;
//   }
  
  .modal-header {
    display: flex;
    justify-content: flex-end;
  }
  
  .modal-close-button {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    opacity: .3;
    cursor: pointer;
    border: none;
    background: transparent;
    margin-right: -25px;
    outline: none;

    &:focus {
        outline: none !important;
    }
  }
  
  button {
    font-size: .9rem;
    font-weight: 700;
    border: none;
    border-radius: 3px;
    padding: .3rem 1rem;
    margin-left: .5rem;
  }
  
  .button-default {
    background: #247BA0;
    color: #fff;
  }

  //TipModal
.background-circle-blue {
    z-index: -1;
    background: rgba(188, 224, 253, 0.1);
    border-radius: 50%;
    position: absolute;
    left: auto;
    right: auto;
    width: 100%;
    height: 200%;
}
.background-circle-primary {
    z-index: 0;
    background: rgba(245, 123, 82, 0.1);
    border-radius: 50%;
    width: 50%;
    height: 50%;
}
.scroll-y::-webkit-scrollbar {
    width: 5px;
}

.scroll-y::-webkit-scrollbar-track {
    background: transparent;
    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    // border-radius: 10px;
}

.scroll-y::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.full-flex-scroll {
    overflow: auto;
    flex-grow: 1;
    min-height: 0 
} 