@import "./fonts/Segoe/style.scss";
@import "./fonts/Gibson/style.scss";
@import "./bootstrap/index";

.top-0 {
    top: 0;
}
.left-0 {
    left: 0;
}
.right-0 {
    right: 0;
}
.bottom-0 {
    bottom: 0;
}
.captcha-container {
    transform: scale(0.57);
}

// FONT SIZE
.font-9px {
    font-size: 0.625rem;
    line-height: 12px;
}
.font-10px {
    font-size: 0.625rem;
}
.font-11px {
    font-size: 0.6875rem;
}
.font-12px {
    font-size: 0.75rem;
}
.font-13px {
    font-size: 0.8125rem;
}
.font-14px {
    font-size: 0.875rem;
}
.font-15px {
    font-size: 0.9375rem;
}
.font-17px {
    font-size: 1.0625rem;
}
.font-20px {
    font-size: 1.25rem;
}
//

// FONT FAMILIES
.seoge-ui-bold {
    font-family: 'Segoe UI Bold';
}
.gibson-bold {
    font-family: 'Gibson Bold';
}
.gibson-regular {
    font-family: 'Gibson Regular';
}
.gibson-semibold {
    font-family: 'Gibson SemiBold';
}
.gibson-light {
    font-family: 'Gibson Light';
}
//

.bg-primary-gradient {
    background: $primaryBackgroundGradient;
}

.bg-fotter-grey {
    background: $footerGrey;
}

.highlight-footer-option {
    border-top: 2px solid $footerHighlight;
}
.footer-navigation {
    width: 100%;
    z-index: 999;
}
@media (min-width: 576px) {
    .footer-navigation {
        width: 50%;
        max-width: 100%;
        left: 50%;
        transform: translateX(-50%);
    }   
}

//
.bg-gradient {
    background: transparent linear-gradient(180deg, #FFFFFF 0%, #F7F7FA 100%) 0% 0% no-repeat padding-box;
}
.back-icon {
    position: absolute;
    z-index: 9;
    top: 50px;
    left: 30px;
}
.cursor-pointer {
    cursor: pointer;
}