@import "./fonts/Segoe/style.scss";
@import "./fonts/Gibson/style.scss";
@import "./fonts/Lato/style.scss";
@import "./bootstrap/index";

.top-0 {
    top: 0;
}
.left-0 {
    left: 0;
}
.left-40px {
    left: 40px;
}
.right-0 {
    right: 0;
}
.bottom-0 {
    bottom: 0;
}
.captcha-container {
    transform: scale(0.57);
}

// FONT SIZE
.font-8px {
    font-size: 0.5rem;
}
.font-9px {
    font-size: 0.625rem;
    line-height: 12px;
}
.font-10px {
    font-size: 0.625rem;
}
.font-11px {
    font-size: 0.6875rem;
}
.font-12px {
    font-size: 0.75rem;
}
.font-13px {
    font-size: 0.8125rem;
}
.font-14px {
    font-size: 0.875rem;
}
.font-15px {
    font-size: 0.9375rem;
}
.font-17px {
    font-size: 1.0625rem;
}
.font-20px {
    font-size: 1.25rem;
}
.font-25px {
    font-size: 1.5625rem;
}
.font-28px {
    font-size: 1.75rem;
}
.font-40px {
    font-size: 40px;
}
//

// FONT FAMILIES
.seoge-ui-bold {
    font-family: "Segoe UI Bold";
}
.gibson-bold {
    font-family: "Gibson Bold";
}
.gibson-regular {
    font-family: "Gibson Regular";
}
.gibson-semibold {
    font-family: "Gibson SemiBold";
}
.gibson-light {
    font-family: "Gibson Light";
}

.lato-regular {
    font-family: "Lato Regular";
}
.lato-semibold {
    font-family: "Lato Semibold";
}
.lato-bold {
    font-family: "Lato Bold";
}
//

.bg-primary-gradient {
    background: $primaryBackgroundGradient;
}

.bg-fotter-grey {
    background: $footerGrey;
}

.highlight-footer-option {
    height: 32px;
    width: 32px;
    border-radius: 50px;
    background: white;
    // border-top: 2px solid $footerHighlight;
}
.footer-navigation {
    width: 100%;
    z-index: 999;
    position: absolute;
    bottom: 0;
}
// @media (min-width: 576px) {
//     .footer-navigation {
//         width: 50%;
//         max-width: 100%;
//         left: 50%;
//         transform: translateX(-50%);
//     }
// }

//
.bg-gradient {
    background: transparent linear-gradient(180deg, #ffffff 0%, #f7f7fa 100%) 0%
        0% no-repeat padding-box;
}
.back-icon {
    position: absolute;
    z-index: 9;
    top: 25px;
    left: 15px;
}
.cursor-pointer {
    cursor: pointer;
}

//
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: 0.5;
}

.modal-wrapper {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
}

.modal-header {
    display: flex;
    justify-content: flex-end;
}

.modal-close-button {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    opacity: 0.3;
    cursor: pointer;
    border: none;
    background: transparent;
    margin-right: -25px;
    outline: none;

    &:focus {
        outline: none !important;
    }
}

button {
    font-size: 0.9rem;
    font-weight: 700;
    border: none;
    border-radius: 3px;
    padding: 0.3rem 1rem;
    margin-left: 0.5rem;
}

.button-default {
    background: #247ba0;
    color: #fff;
}

//TipModal
.background-circle-blue {
    z-index: -1;
    background: rgba(188, 224, 253, 0.1);
    border-radius: 50%;
    position: absolute;
    left: auto;
    right: auto;
    width: 100%;
    height: 200%;
}
.background-circle-primary {
    z-index: 0;
    background: rgba(245, 123, 82, 0.1);
    border-radius: 50%;
    width: 50%;
    height: 50%;
}
.circle {
    border-radius: 50%;
}
.scroll-y::-webkit-scrollbar {
    width: 5px;
}

.scroll-y::-webkit-scrollbar-track {
    background: transparent;
    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    // border-radius: 10px;
}

.scroll-y::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
.text-area-box-shadow {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}
.full-flex-scroll {
    overflow: auto;
    flex: 1;
    min-height: 0;
}

.text-underline {
    text-decoration: underline;
}

//Switch Input
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 30px;
    margin: 0;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: map-get($theme-colors, "inputText");
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    top: 2px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background: $primaryBackgroundGradient;
}

input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.disable-click {
    pointer-events: none;
    cursor: default;
    opacity: 0.7;
}
.upload-image-icon {
    // background: url("/static/images/upload_image_icon.svg");
    background: url("/static/images/upload.svg");
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
    outline: none !important;
}
.take-picture-icon {
    background: url("/static/images/take_picture_icon.svg");
    height: 53px;
    width: 53px;
    outline: none !important;
}
.add-icon {
    height: 36px;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
}

.hide-scroller {
    &::-webkit-scrollbar {
        height: 0px;
        width: 0px;
    }
}
.custom-scroller {
    overflow-y: scroll;
    margin-bottom: 40px;
    flex: 1;

    &::-webkit-scrollbar {
        height: 0px;
        width: 0px;
    }
}
.scroll-flex {
    overflow-x: scroll;
    white-space: nowrap;
    display: flex;

    .scroll-item {
        display: flex;
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0;
    }

    &::-webkit-scrollbar {
        height: 0px;
    }
}
.navigation-dot-background{
    background-color: #b4b4b4;
    display: flex;
    border-radius: 15px;
    padding: 2px 4px;
    padding-bottom: 5px;
}
.navigation-dot {
    color: white;
    cursor: pointer;
    width: 10px;
    margin: 0px 3px;
    padding: 0px 0px;
    line-height: 10px;
    &.active {
        color: map-get($theme-colors, "primary");
    }
    &::before {
        content: " \25CF";
        font-size: 15px;
    }
}

// slideInFromTop = keyframes`
//     0% { transform: translate3d(0, -600px, 0) }
//     100% { transform: translate3d(0, 0, 0) }
// `

@keyframes animate-in-from-bottom {
    0% {
        transform: translate3d(0, 2600px, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

.animate-in-from-bottom {
    animation-name: animate-in-from-bottom;
    animation-duration: 0.3s;
    bottom: 0px;
    top: 210px;
    transform: translate3d(0, 0, 0);
    z-index: 9999;
}
.body-background {
    background: $bodyBackground;
}

.notification-counter {
    position: absolute;
    left: 50%;
    top: 0px;
    background: red;
    padding: 0px 5px;
    border-radius: 50%;
    font-size: 12px;
    display: flex;
    align-items: center;
}

.hover-bg {
    opacity: 1;
    transition: 0.3s;

    &:hover {
        opacity: 0.9;
    }
}

/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav div {
    float: left;
    display: flex;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
}

.topnav div:hover {
    border-bottom: 3px solid #f57b52;
}

.topnav div.active {
    border-bottom: 3px solid #f57b52;
}

// LIST NAVBAR UTILITIES
.text-padding-bottom-xsmall {
    padding-bottom: 2px;
}

.text-padding-left-small {
    padding-left: 4px !important;
}

.text-padding-left-lrg {
    padding-left: 8px;
}

.text-padding-right-small {
    padding-right: 4px !important;
}

.text-padding-right-lrg {
    padding-right: 8px;
}

.text-margin-right-xlrg {
    margin-right: 12px;
}

.text-margin-right-xxlrg {
    margin-right: 24px;
}

.text-margin-right-xxxlrg {
    margin-right: 48px !important;
}

.text-margin-left-xxxlrg {
    margin-left: 48px !important;
}

.text-margin-left-lrg {
    margin-left: 16px !important;
}

.text-margin-left-xxxxlrg {
    margin-left: 64px;
}

.text-margin-bottom-small {
    margin-bottom: 4px !important;
}

// Filters Component
.main-sticky {
    position: sticky;
    z-index: 1;
    bottom: 0;
    font-size: 20px;
    background-color: #b1b2b8;
}
.visible-phone {
    display: block;
}

.layout-center {
    text-align: center;
}
.filter-border {
    border-bottom: double;
    border-bottom-color: #fff;
}

// User Information Card Component
.btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 4px 12px 4px 12px;
    font-size: 11px;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
}
.warning {
    border-color: #f57b52;
    color: #f57b52;
}

.warning:hover {
    background: #f57b52;
    color: white;
}
.user-information-text-color {
    color: #a0a0a0;
}
.border-color-radius {
    border: 3px solid #f57b52;
    border-radius: 25px;
}
.border-color {
    border-top: 3px solid #f57b52 !important;
}
.user-text-color {
    color: #f57b52;
}

// User Information Card Utilities
.user-information-sub-text-margin-left-xsmall {
    margin-left: 2px;
}

.user-information-sub-text-margin-bottom-xsmall {
    margin-bottom: 2px;
}

.user-information-sub-text-margin-left-lrg {
    margin-left: 8px;
}

.user-information-sub-text-margin-left-xxxxlrg {
    margin-left: 88px;
}

.user-information-sub-text-margin-right-xxxxlrg {
    margin-right: 88px;
}

.user-information-sub-text-margin-left-xxxxxlrg {
    margin-left: 172px;
}

.user-information-sub-text-margin-right-xxxxxlrg {
    margin-right: 172px;
}

.user-information-sub-text-margin-right-lrg {
    margin-right: 12px;
}

.user-information-sub-text-margin-left-lrg {
    margin-left: 12px;
}

.user-information-sub-text-padding-left-small {
    padding-left: 4px;
}

.user-information-sub-text-padding-right-small {
    padding-right: 4px;
}

.user-information-sub-text-padding-left-lrg {
    padding-left: 12px;
}

.user-information-sub-text-padding-right-lrg {
    padding-right: 12px;
}

.user-information-sub-text-padding-left-xlrg {
    padding-left: 16px;
}

.card-details-spacing-col-top {
    @media only screen and (min-width: 320px) {
        margin-left: 70px;
    }
    @media only screen and (min-width: 375px) {
        margin-left: 120px;
    }
    @media only screen and (min-width: 425px) {
        margin-left: 160px;
    }
    @media only screen and (min-width: 768px) {
        margin-left: 160px;
    }
}

.switch-spacing-col-left {
    @media only screen and (min-width: 320px) {
        margin-left: 100px;
    }
    @media only screen and (min-width: 375px) {
        margin-left: 155px;
    }
    @media only screen and (min-width: 425px) {
        margin-left: 155px;
    }
    @media only screen and (min-width: 768px) {
        margin-left: 160px;
    }
}

.card-details-spacing-col-bottom {
    @media only screen and (min-width: 320px) {
        margin-left: 70px;
    }
    @media only screen and (min-width: 375px) {
        margin-left: 123px;
    }
    @media only screen and (min-width: 425px) {
        margin-left: 162px;
    }
    @media only screen and (min-width: 768px) {
        margin-left: 160px;
    }
}

.vertical-line {
    border-left: 2px solid #f57b52;
    height: 16px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
    @media only screen and (min-width: 280px) {
        top: 235px;
    }
    @media only screen and (min-width: 320px) {
        top: 206px;
    }
    @media only screen and (min-width: 325px) {
        top: 210px;
    }
    @media only screen and (min-width: 340px) {
        top: 210px;
    }
    @media only screen and (min-width: 365px) {
        top: 225px;
    }
    @media only screen and (min-width: 355px) {
        top: 215px;
    }
    @media only screen and (min-width: 415px) {
        top: 225px;
    }
    @media only screen and (min-width: 410px) {
        top: 225px;
    }
    @media only screen and (min-width: 425px) {
        top: 228px;
    }
    @media only screen and (min-width: 768px) {
        top: 275px;
    }
}

.vertical-line-blocked-followers {
    border-left: 2px solid #f57b52;
    height: 20px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
    @media only screen and (min-width: 320px) {
        top: 200px;
    }
    @media only screen and (min-width: 365px) {
        top: 210px;
    }
    @media only screen and (min-width: 425px) {
        top: 218px;
    }
    @media only screen and (min-width: 768px) {
        top: 275px;
    }
}

.dropdown-icon-size {
    width: "20px";
    height: "20px";
}

// Subscription Utilities
.subscription-text-margin-left-small {
    margin-left: 4px;
}

.subscription-text-margin-right-large {
    margin-right: 16px;
}

@media only screen and (min-width: 320px) {
    .button-margin-left-xlarge {
        margin-left: 6px !important;
    }
}
@media only screen and (min-width: 365px) {
    .button-margin-left-xlarge {
        margin-left: 12px !important;
    }
}
@media only screen and (min-width: 425px) {
    .button-margin-left-xlarge {
        margin-left: 36px !important;
    }
}
.empty-list-text {
    text-align: center;
    padding-top: 70%;
}

.followers-cards {
    margin-top: 20px;
}

.following-subscription-btn {
    @media only screen and (min-width: 320px) {
        top: 66px;
    }
    @media only screen and (min-width: 365px) {
        top: 90px;
    }
    @media only screen and (min-width: 425px) {
        top: 90px;
    }
    @media only screen and (min-width: 768px) {
        top: 90px;
    }
}

.sidenav {
    height: 100%;
    width: 0;
    position: absolute;
    z-index: 10000;
    top: 0;
    left: 0px;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav .link-anchor {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 12px;
    color: #78849e;
    display: block;
    transition: 0.3s;
    cursor: pointer;
}

.sidenav .link-anchor:hover {
    color: #f57b52;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left 0.5s;
    padding: 16px 0px 16px 0px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav .link-anchor {
        font-size: 18px;
    }
}

.menu-icon-color {
    color: #78849e !important;
}

.menu-icon-color:hover {
    color: #f57b52 !important;
}

$badge-text-color: #ffffff;
$badge-default-bg: #f57b52;
$badge-success-bg: #f57b52;

// Basiz setup
.badge {
    box-sizing: border-box;
    display: inline-block;
    background-color: $badge-default-bg !important;
    color: $badge-text-color !important;
    border-radius: 3rem; // As longe as this is bigger than the fontsize
    text-align: center;

    font-size: 1.6rem;
    font-weight: 400;
    padding: 0.05rem 0.8rem 0.1rem;
    line-height: inherit;
    float: right;
}

// Style
.badge--line {
    background-color: transparent;
}

.badge--success {
    background-color: $badge-success-bg !important;
}

// Sizes

.badge--smaller {
    font-size: 0.7rem;
    padding: 0.05rem 0.6rem 0.15rem;
}

.menu-profile-badge {
    position: absolute;
    margin-left: -10px;
    margin-top: 15px;
}

.menu-profile-badge img {
    width: 23px;
    height: 18px;
}

.menu-profile-picture {
    width: 52px;
    height: 52px;
    border-radius: 25%;
}
.menu-profile-picture-details {
    font-size: 14px;
    color: #919ca5;
}

.menu-img-icon {
    position: relative;
}

.menu-img-icon img {
    display: block;
}

.menu-img-icon .fa-download {
    position: absolute;
    bottom: 30%;
    left: 5%;
}

.profile-img-icon {
    width: 22px;
    height: 22px;
    color: #f57b52;
}

.cards {
    display: flex;
    align-content: center;
    max-width: 35em;
}

.cardWrapper {
    overflow: hidden;
}

.cardWrapper:last-child,
.cardWrapper:hover {
    overflow: visible;
}

.card {
    width: 10em;
    min-width: 10em;
    height: 6em;
    border-radius: 0.5em;
    border: solid #666 1px;
    background-color: #ccc;
    padding: 0.25em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tag-profile-name {
    font-size: 12px;
    color: #95a5a6;
    margin-left: 7px;
}
.quotes {
    quotes: "„" "“" "‚" "‘";
}

.search-input {
    border-radius: 12px;
    width: 200px;
    border: 1px solid;
    outline: none;
    padding: 5px 20px;
    height: 25px;
}
.search-close {
    background: transparent;
    position: absolute;
    right: 8px;
    bottom: 4px;
    outline: none;
    padding: 0px;
}

.text-area {
    // height: 29px;
    width: 100%;
    border: none;
    border: 1px solid #b4b4b4;
    // color: #78849e;
    border-radius: 6px;
    padding-left: 5px;
    margin-top: 5px;
    outline: none;
}

.text-area-label {
    float: left !important;
}

.bio-text-area {
    border-color: #b4b4b4 !important;
}

// Account Settings
.change-username-btn {
    margin-left: 9em !important;
}

.delete-account-btn {
    color: #ff6666;
}

// Captca
.captca-ui {
    top: 362px;
    left: 65px;
    width: 100px;
    height: 28px;
}

.captca-properties {
    border: 1px solid var(--veno-theme-color);
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #f57b52;
    opacity: 1;
    margin-bottom: 0px;
}

.capcta-field-ui {
    top: 390px;
    left: 203px;
    width: 95px;
    height: 0px;
}

.capcta-field-ui-properties {
    border: 1px solid var(--veno-theme-color);
    border: 1px solid #f57b52;
    opacity: 1;
}

.cancel-btn-ui {
    top: 441px;
    left: 180px;
    width: 70px;
    height: 26px;
}

.cancel-btn-ui-properties {
    border: 0.5px solid var(--light-gray-elements-shade);
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 0.5px solid #a0a0a0;
    border-radius: 10px;
    opacity: 1;
}

.delete-btn-ui {
    top: 441px;
    left: 260px;
    width: 70px;
    height: 26px;
}

.delete-btn-ui-properties {
    border: 0.5px solid var(--light-gray-elements-shade);
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 0.5px solid #a0a0a0;
    border-radius: 10px;
    opacity: 1;
}

.captca-field {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-color: #f57b52;
    background-color: #ffffff;
}

.alignleft {
    float: left !important;
}

.alignright {
    float: right !important;
}

// Delete Modal
.delete-modal-btn {
    margin-left: 30%;
}

// Notification Settings
.switch-label-padding-bottom {
    margin-bottom: 0px !important;
}

.heading-styles {
    font-size: 0.8rem;
    color: #707070;
}

.spinner-styles {
    margin-top: 50px;
}

.followers-cards-btn{
    font-size: 13px;
    margin-right: 32px;
    @media screen and (max-width: 375px) {
        font-size: 10px;
        margin-right: 16px;
    }
}

.followers-cards-btn-margin {
    margin-right: 0.5rem;
    @media screen and (max-width: 320){
        margin-right: 0.2rem;
    }
    
}

.following-cards-btn{
    font-size: 13px;
    margin-right: 32px;
    @media screen and (max-width: 375px) {
        font-size: 10px;
        margin-right: 16px;
    }
}

.following-cards-btn-margin {
    margin-right: 0.5rem;
    @media screen and (max-width: 320){
        margin-right: 0.2rem;
    }
    
}

// Circle Checkbox

// TODO: fix this, as this was changing the whole applicaiton;s background
// body {
//     background-color: #f1f2f3;
//     -webkit-box-align: center;
//     -ms-flex-align: center;
//     align-items: center;
//     display: -webkit-box;
//     display: -ms-flexbox;
//     display: flex;
// }


// TODO: revisit this, when settings screens are integrated
// Need to contain this classes with in the setting module

// .container {
//     margin: 0 auto;
// }

// .round {
//     position: relative;
// }

// .round label {
//     background-color: #707070;
//     border: 1px solid #ccc;
//     border-radius: 50%;
//     cursor: pointer;
//     height: 13px;
//     left: 0;
//     position: absolute;
//     top: 0;
//     width: 13px;
// }

// .round label:after {
//     border: 2px solid #707070;
//     border-top: none;
//     border-right: none;
//     content: "";
//     height: 6px;
//     left: 7px;
//     opacity: 0;
//     position: absolute;
//     top: 8px;
//     transform: rotate(-45deg);
//     width: 12px;
// }

// .round input[type="checkbox"] {
//     visibility: hidden;
// }

// .round input[type="checkbox"]:checked + label {
//     background-color: #f57c52;
//     border-color: #f57c52;
// }

// .round input[type="checkbox"]:checked + label:after {
//     opacity: 0;
// }

// // Sacurity and Privacy Settings
// .switch-settings {
//     width: 159px;
// }

// hr {
//     border: 0;
//     clear: both;
//     display: block;
//     width: 96%;
//     background-color: #dee2e6;
//     height: 1px;
// }

// #line {
//     float: left;
//     width: 731px;
//     height: 20px;
// }
/* MIXINS */
/* Colors: */
/* BASE */

// TODO: Nest all the classes under one parent.
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
tr,
td,
table,
ul,
li,
ol,
dl,
header,
footer,
article,
figure,
aside,
span,
form {
  border: 0px;
  padding: 0px;
  margin: 0px;
  outline: 0px;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  height: 100%;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
*:focus {
  outline: 0;
}

a {
  text-decoration: none;
}

button {
  border: 0;
  background-color: transparent;
}
button:focus {
  outline: 0;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix {
  clear: both;
}
.clearfix:before,
.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-none {
  text-transform: none;
}

.font-regular {
  font-weight: 400;
}

.font-extra-light {
  font-weight: 200;
}

.font-light {
  font-weight: 300;
}

.font-medium {
  font-weight: 500;
}

.font-semi-bold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-black {
  font-weight: 900;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.display-inline-block {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.overflow-hidden {
  overflow: hidden;
}

.display-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.flex-column {
  flex-direction: column !important;
}

.flex-row {
  flex-direction: row !important;
}

.align-items-center {
  align-items: center !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.padding-none {
  padding: 0;
}

.margin-none {
  margin: 0;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.position-fixed {
  position: fixed;
}

ul {
  list-style: none;
}

.margin-auto {
  margin: 0 auto;
}

.cursor-pointer {
  cursor: pointer;
}

.img-center {
  top: 50% !important;
  left: 50% !important;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* START OF MOBILE QUERY */
@media (max-width: 767px) {
  .display-sm-none {
    display: none !important;
  }
}
/* END OF MOBILE QUERY */
.statements {
    background-color: #f7f8fa
}

.statements-btn {
  padding: 6px 45px;
  font-size: 14px;
  color: #f47e51;
  border: 2px solid #f47e51;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
}

.balance-section {
  padding: 30px;
  background-color: #a0a0a06b;
  color: #ffffff;
}
.balance-upper-wrapper {
  background: $primaryBackgroundGradient;
  padding-bottom: 20px;
  -webkit-border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  -ms-border-radius: 20px 20px 0 0;
  border-radius: 20px 20px 0 0;
}
.balance-section .balance-middle-wrapper {
    font-size: 35px;
    line-height: 42px;
}
.balance-section .pending-middle-wrapper {
    font-size: 13px;
    line-height: 18px;
}
.balance-section .balance-lower-wrapper {
  padding: 8px 0;
  background-color: #ffffff;
  -webkit-border-radius: 0px 0px 20px 20px;
  -moz-border-radius: 0px 0px 20px 20px;
  -ms-border-radius: 0px 0px 20px 20px;
  border-radius: 0px 0px 20px 20px;
}

.tabs-section {
  background-color: #f7f8fa;
}
.tabs-section .tabs-list {
  color: #707070;
  width: 100%;
  font-size: 0;
  border-bottom: 1px solid #707070;
}
.tabs-section .tabs-list li {
  width: 33.3%;
  font-size: 14px;
  line-height: 40px;
}
.tabs-section .tabs-list li:after {
  content: "";
  width: 1px;
  height: 27px;
  background-color: #707070;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.tabs-section .tabs-list li:last-of-type::after {
  display: none;
}
.tabs-section .tabs-list li.active {
  color: #f57b52;
}
/* .tabs-section .Withdrawals-wrapper,
.tabs-section .earning-wrapper,
.tabs-section .stats-wrapper {
  display: none;
}
.tabs-section .Withdrawals-wrapper.active,
.tabs-section .earning-wrapper.active,
.tabs-section .stats-wrapper.active {
  display: block;
} */
.tabs-section .Withdrawals-wrapper ul li,
.tabs-section .earning-wrapper ul li {
  padding: 35px 20px 20px 30px;
  border-bottom: 1px solid #707070;
}
.tabs-section .Withdrawals-wrapper ul li .list-content,
.tabs-section .earning-wrapper ul li .list-content {
  width: 75%;
}
.tabs-section .Withdrawals-wrapper ul li .list-content h4,
.tabs-section .earning-wrapper ul li .list-content h4 {
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 2.2px;
}
.tabs-section .Withdrawals-wrapper ul li .list-content p,
.tabs-section .earning-wrapper ul li .list-content p {
  line-height: 17px;
}
.tabs-section .Withdrawals-wrapper ul li .list-content i,
.tabs-section .earning-wrapper ul li .list-content i {
  font-size: 11px;
  line-height: 13px;
  color: #f47e51;
  margin-bottom: 4px;
}
.tabs-section .Withdrawals-wrapper ul li .list-content span,
.tabs-section .earning-wrapper ul li .list-content span {
  font-size: 12px;
  color: #f47e51;
}
.tabs-section .Withdrawals-wrapper ul li .amount,
.tabs-section .earning-wrapper ul li .amount {
  width: 25%;
}
.tabs-section .stats-wrapper .range-wrapper {
  padding: 20px 12px;
}
.tabs-section .stats-wrapper .range-wrapper h5 {
  font-size: 15px;
  color: #f57b52;
  margin-bottom: 10px;
}
.tabs-section .stats-wrapper .range-wrapper .calander-wrapper {
  font-size: 18px;
  color: #707070;
  font-weight: 500;
}
.tabs-section .stats-wrapper .range-wrapper .calander-wrapper span {
  font-size: 11px;
  padding: 8px 24px;
  color: #ffffff;
  background-color: #f47e51;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
.tabs-section .stats-wrapper ul li {
  padding: 20px 20px;
  border-bottom: 1px solid #707070;
}
.tabs-section .stats-wrapper ul li p {
  font-size: 14px;
  line-height: 17px;
}
.tabs-section .stats-wrapper ul li.total p {
  color: #f57b52;
}
.tabs-section .stats-wrapper ul li:last-of-type {
  border: 0;
}
